<header class="bg-black relative">
  <div class="bg-gradient-to-r absolute inset-0 from-gray-700 to-black z-0"></div>
  <div class="mx-auto px-4 relative container">
    <!-- Navbar -->
    <nav class="fixed top-0 left-0 right-0 z-50 transition-all duration-300" [ngClass]="{ 'bg-black/10': isScrolled }">
      <div class="hidden md:grid grid-cols-3 items-center py-4 px-4 bg-black/5 backdrop-blur-sm transition-all duration-300">
        <!-- Columna Izquierda: Logo -->
        <div class="flex items-center space-x-2">
          <img alt="Logo" src="https://placehold.co/60x60?text=FLEX" class="h-10 w-10" />
          <span class="text-2xl font-bold tracking-wider">
            ENTRENA <span class="text-primary-500">SYNC</span>
          </span>
        </div>
        <!-- Columna Central: Menú -->
        <div class="flex justify-center">
          <div class="flex space-x-1 items-center">
            <a
              *ngFor="let link of navLinks"
              [routerLink]="link.path"
              routerLinkActive="bg-primary-500"
              [routerLinkActiveOptions]="{ exact: true }"
              class="px-3 py-2 text-sm font-medium rounded hover:bg-surface-700 hover:text-primary-400 transition-all duration-200">
              {{ link.label }}
            </a>
          </div>
        </div>
        <!-- Columna Derecha: login y theme toggler -->
        <div class="flex justify-end items-center space-x-4">
          <!-- Botón para cambiar tema -->
          <p-button
            type="button"
            (onClick)="toggleDarkMode()"
            [rounded]="true"
            [icon]="isDarkTheme() ? 'pi pi-moon' : 'pi pi-sun'"
            severity="secondary"
          />

        </div>
      </div>
      <!-- Estructura para móvil -->
      <div class="md:hidden flex flex-col items-center py-4 px-4 bg-black/5 backdrop-blur-sm transition-all duration-300">
        <!-- Logo -->
        <div class="flex items-center space-x-2 mb-4">
          <img alt="Logo" src="https://placehold.co/60x60?text=FLEX" class="h-10 w-10" />
          <span class="text-2xl font-bold tracking-wider">
            FLEX <span class="text-primary-500">FIT</span>
          </span>
        </div>
        <!-- Botón de Mobile Menu -->
        <div class="flex items-center">
          <button (click)="toggleMobileMenu()" class="ml-4 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </nav>

    <!-- Mobile Menu -->
    <div *ngIf="isMobileMenuOpen" @fadeInOut class="fixed inset-0 h-screen bg-surface-900 z-50 md:hidden transition duration-300 ease-in-out">
      <div class="flex flex-col p-4 space-y-2 h-full">
        <!-- Close Button -->
        <div class="flex justify-end">
          <button (click)="toggleMobileMenu()" class="text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <!-- Menu Items -->
        <div class="flex flex-col space-y-2">
          <a
            *ngFor="let link of navLinks"
            [routerLink]="link.path"
            routerLinkActive="bg-primary-500"
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-3 py-2 text-sm font-medium rounded hover:bg-surface-700 hover:text-primary-400 transition-all duration-200"
            (click)="toggleMobileMenu()">
            {{ link.label }}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
