<header class="bg-black relative">
  <!-- Fondo degradado -->
  <div class="bg-gradient-to-r absolute inset-0 from-gray-700 to-black z-0"></div>
  <!-- Contenedor principal -->
  <div class="container mx-auto px-4 relative">
    <nav class="fixed top-0 left-0 right-0 z-50 transition-all duration-300" [ngClass]="{'bg-black/10': isScrolled}">

      <!-- Versión de escritorio (desde xl en adelante) -->
      <div class="hidden xl:flex items-center justify-between py-4 px-6 bg-black/5 backdrop-blur-sm transition-all duration-300">
        <!-- Logo y Título -->
        <div class="flex items-center space-x-2">
          <img alt="Logo" src="https://placehold.co/60x60?text=FLEX" class="h-10 w-10" />
          <span class="text-2xl font-bold tracking-wider">
            ENTRENA <span class="text-primary-500">SYNC</span>
          </span>
        </div>
        <!-- Menú central -->
        <div class="flex flex-1 justify-center">
          <div class="flex space-x-4 items-center">
            <a *ngFor="let link of navLinks"
               [routerLink]="link.path"
               routerLinkActive="bg-primary-500"
               [routerLinkActiveOptions]="{ exact: true }"
               class="px-3 py-2 text-sm font-medium rounded hover:bg-surface-600 hover:text-primary-400 transition-all duration-200">
              {{ link.label }}
            </a>
          </div>
        </div>
        <!-- Botón de cambio de tema -->
        <div class="flex items-center space-x-4">
          <p-button type="button"
                    (onClick)="toggleDarkMode()"
                    [rounded]="true"
                    [icon]="isDarkTheme() ? 'pi pi-moon' : 'pi pi-sun'"
                    severity="primary">
          </p-button>
        </div>
      </div>

      <!-- Versión móvil (para pantallas menores a xl) -->
      <div class="xl:hidden flex items-center justify-between py-4 px-4 bg-black/5 backdrop-blur-sm transition-all duration-300">
        <!-- Sección izquierda: Logo y Título -->
        <div class="flex items-center space-x-2">
          <img alt="Logo" src="https://placehold.co/60x60?text=FLEX" class="h-10 w-10" />
          <span class="text-2xl font-bold tracking-wider">
            ENTRENA <span class="text-primary-500">SYNC</span>
          </span>
        </div>
        <!-- Sección derecha: Botón de cambio de tema y Menú hamburguesa -->
        <div class="flex items-center space-x-4">
          <p-button type="button"
                    (onClick)="toggleDarkMode()"
                    [rounded]="true"
                    [icon]="isDarkTheme() ? 'pi pi-moon' : 'pi pi-sun'"
                    severity="primary">
          </p-button>
          <button (click)="toggleMobileMenu()" class="text-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>

    </nav>

    <!-- Menú móvil en pantalla completa -->
    <div *ngIf="isMobileMenuOpen" @fadeInOut class="fixed inset-0 h-screen bg-surface-900 z-50 xl:hidden transition duration-300 ease-in-out">
      <div class="flex flex-col p-4 space-y-4 h-full">
        <!-- Botón de cerrar -->
        <div class="flex justify-end">
          <button (click)="toggleMobileMenu()" class="text-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <!-- Enlaces del menú -->
        <div class="flex flex-col space-y-4">
          <a *ngFor="let link of navLinks"
             [routerLink]="link.path"
             routerLinkActive="bg-primary-500"
             [routerLinkActiveOptions]="{ exact: true }"
             class="px-4 py-3 text-base font-medium rounded hover:bg-surface-600 hover:text-primary-400 transition-all duration-200"
             (click)="toggleMobileMenu()">
            {{ link.label }}
          </a>
        </div>
      </div>
    </div>

  </div>
</header>
