<section class="py-16 bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300">
  <div class="mx-auto px-4 container">
    <div class="mx-auto text-center mb-12 max-w-4xl px-4">
      <h2 class="text-3xl md:text-4xl font-bold mb-4 transition-colors duration-300">
        <span class="text-primary-500 border-b-2 border-primary-500 pb-1">POR QUÉ</span> ENTRENA SYNC?
      </h2>
      <p class="text-gray-600 dark:text-gray-300 transition-colors duration-300">
        Somos más que un gimnasio. Somos una comunidad dedicada a ayudarte a alcanzar tus metas de acondicionamiento físico.
      </p>
    </div>
    <div class="sm:flex-row mb-8 flex flex-col gap-4">
      <app-info-card 
        icon="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" 
        title="Sistema de gestión" 
        content="Nuestra aplicación te facilita la vida a la hora de llevar un registro de tus entrenamientos, haciendote progresar día a día para mejorar tu vida">
      </app-info-card>
      <app-info-card 
        icon="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" 
        title="Más que un simple entrenador" 
        content="Contamos con los mejores profesionales del sector, siendo la aplicación que reune más diciplinas a la vez">
      </app-info-card>
      <app-info-card 
        icon="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" 
        title="Aprende a entrenar" 
        content="Gracias a nuestros servicios y profesionales aprende a gestionar tus entrenamientos, crear rutinas, y ajustar los ejercicios a tu situación">
      </app-info-card>

    </div>
  </div>
</section>
