<section class="py-16 bg-gray-900 text-white">
  <div class="mx-auto px-4 container">
    <div class="mx-auto text-center mb-12 max-w-4xl">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">
        <span class="text-primary-500">POR QÚE</span> ENTRENA SYNC?
      </h2>
      <p class="text-gray-300">
        Somos más que un gimnasio. Somos una comunidad dedicada a ayudarte a alcanzar tus metas de acondicionamiento físico.
      </p>
    </div>
    <div class="sm:flex-row mb-8 flex flex-col gap-4">
      <app-info-card icon="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" title="Sistema de gestión" content="Nuestra aplicación te facilita la vida a la hora de llevar un registro de tus entrenamientos, haciendote progresar día a día para mejorar tu vida"></app-info-card>
      <app-info-card icon="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" title="Más que un simple entrenador" content="Contamos con los mejores profesionales del sector, siendo la aplicación que reune más diciplinas a la vez"></app-info-card>
      <app-info-card icon="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" title="Aprende a entrenar" content="Gracias a nuestros servicios y profesionales aprende a gestionar tus entrenamientos, crear rutinas, y ajustar los ejercicios a tu situación"></app-info-card>

    </div>
  </div>
</section>
