<section class="py-12 md:py-20 lg:py-28 items-center text-center flex flex-col">
  <p class="text-4xl md:text-5xl lg:text-7xl font-black mb-6 tracking-tight">
    <span class="text-primary">SINCRONIZA</span>
    TU VIDA <br> FITNESS
  </p>
  <p class="text-lg md:text-xl mb-8 max-w-2xl">
    Únete a nuestra comunidad de apasionados del fitness y transforma tu cuerpo con el equipo más avanzado y la guía de profesionales.
  </p>
  <div class="sm:flex-row mb-8 flex flex-col gap-4">
    <app-primary-button text="Empieza Hoy" [routerLink]="'/login'"></app-primary-button>
    <app-secondary-button text="Nuestros Entrenadores" [routerLink]="'/trainers'"></app-secondary-button>
  </div>
</section>
