:host ::ng-deep .p-paginator .p-dropdown {
  background-color: white !important;
  color: black !important;
}

:host ::ng-deep .p-paginator .p-dropdown-panel {
  background-color: white !important;
  color: black !important;
}
