<div class="bg-gray-800 rounded-lg p-6 hover:bg-gray-700 transition-all duration-300">
  <div class="text-indigo-400 mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-12 w-12"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        [attr.d]= icon
      ></path>
    </svg>
  </div>
  <p class="text-xl font-bold mb-2">{{ title }}</p>
  <p class="text-gray-400">{{ content }}</p>
</div>
